{% extends 'base.html' %}

{% block title %}Find My Coffee{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <div id="welcome">
        <h2>Welcome</h2>
        <p>Imagine a world where you can drink the coffee you actually want/p>
      </div>

      <div id="inputorder">
        <h2>Find My Coffee</h2>
        <p>
          Let's find the ideal spot for the exact coffee you're after
        </p>

        <p>
          <a class="btn btn-primary" href="/inputorder">
            Click here to search for some coffee
          </a>
        </p>
      </div>
    </div>


    <div id="signup">
      <h2>Find My Coffee For Life</h2>
      <p>
        Sign In
      </p>

      <p>
        <a class="btn btn-primary" href="/accounts">
          Click here to search for some coffee
        </a>
      </p>
    </div>
  </div>


    <div id="signup">
      <h2>Find My Coffee For Life</h2>
      <p>
        Let's Create an Account 
      </p>

      <p>
        <a class="btn btn-primary" href="/accounts">
          Click here to search for some coffee
        </a>
      </p>
    </div>
  </div>


  
{% endblock %}

