{% extends 'base.html' %}

{% block title %}Find My Coffee{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <div id="welcome">
        <h1>Welcome</h1>
        <p>Imagine a world where you can find the coffee you actually want
        </p>
      </div>

      <div id="inputorder">
        <h3>Find My Coffee</h3>
        <p>
          Let's find the ideal spot for the exact coffee you're after
        </p>

        <p>
          <a class="btn btn-primary" href="/inputorder">
            Find My Coffee!
          </a>
        </p>
      </div>
    </div>


    <div id="login">
      <h3>Get Back to My Coffee Profile </h3>
      <p>
        <a class="btn btn-primary" href="/login">
          Login
        </a>
      </p>
    </div>
  </div>


    <div id="signup">
      <h3>Find My Coffee For Life</h3>
  
      <p>
        <a class="btn btn-primary" href="/accounts">
          Create a Coffee Profile
        </a>
      </p>
    </div>
  </div>


  
{% endblock %}

