{% extends 'base.html' %}

{% block title %}Find My Coffee!{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>Find Your Coffee</h2>
    </div>
  </div>
   
      

      <form method="POST" action="/coffeesearchresults">
        <div class="row">
          <div class="col-3">
            <label class="form-label above" for="drink-name">Drink Name</label>
            <input
              id="drink-name"
              class="form-control"
              type="text"
              name="drinkname"/> 
            </div>

              <div class="col-8">
              <input 
              type="checkbox" 
              name="preferredorder" 
              value="preferrorder" 
              id="yes-preferredorder"/>
              <label for="yes-preferredorder">Remember my Drink</label>
              <small class="form-text text-muted">
                (Only applies to My Coffee Profile users)
              </small>
          </div>
        </div>
 

          <div class="row">
            <div class="col-4">
                <label for="open-now">Open Now?</label>
                <small class="form-text text-muted">
                  Only display results that are open now 
                </small>
                <select name="open-now" id="open-now">
                  <option value="true">true</option>
                  <option value="false">false</option>

                </select>
            </div>
              </div>


          <div class="row">
            <div class="col-2">
              <label class="form-label above" for="search-zip">Zip Code</label>
              <input
              id="search-zip"
              class="form-control"
              type="text"
              name="zipcode"/>
            </div>
          </div>


          <div class="row">

          <div class="col-5">
            <label class="form-label above" for="search-radius">Distance Radius (Miles)</label>
            <small class="form-text text-muted">
              Limit your search to a set distance?
            </small>
              <input
                id="search-radius"
                class="form-control"
                type="number" step="1" min="1" max="25"
                name="radius"/>
            </div>

        </div>

      
        <div class="row mt-4">
          <div class="col-3">
            <input type="submit" value="Find My Coffee" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>



{% endblock %}