{% extends 'base.html' %}


{% block title %}Find My Coffee{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
      <div class="col-7">
        <div id="myprofile">
          <h1>Welcome</h1>
          <p>welcome to your profile 
          </p>
        </div>

        <div id="myprofile">
            <h2>my recent orders:</h2>
            <p>
            </p>
          </div>

          <div id="placestotry">
            <h2>places i want to try:</h2>
            <p>
            </p>
          </div>


          <div id="moneyspent">
            <h2>how much i have spent:</h2>
            <p>
            </p>
          </div>
        </div>
    </div>
</div>


{% endblock %}